<mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text" />
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br />

<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <ng-container *ngFor="let model of models">
    <mat-card
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-sm="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
    >
      <mat-card-title fxLayout.gt-xs="row">
        <span fxFlex="80%">{{ model.title }}</span>
        <mat-icon fxFlex="10%">mode_edit</mat-icon>
        <mat-icon fxFlex="10%">delete</mat-icon>
      </mat-card-title>
      <img
        mat-card-image
        [src]="model.screenshotUrl"
        (click)="setObjectIdOnStorage(model.id)"
      />
    </mat-card>
  </ng-container>
</div>
