<mat-toolbar color="primary">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-around">
    <div>
      <a href="/">SendSpecial</a>
    </div>
    <div>
      <button mat-button>Models</button>
    </div>
    <div>
      <button mat-button>Materials</button>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>Account
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Markers</button>
        <button mat-menu-item>Audios</button>
        <button mat-menu-item>3d Objects</button>
        <button mat-menu-item>Generated</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
