/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  min-width: 100%;
  min-height: 100%;
}
.awesome-button {
  position: fixed;
  top: 40%;
  left: 40%;
  font-size: 2em;
  line-height: 80px;
}

/* Style the button used to pause/play the video */
