/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  min-width: 100%;
  min-height: 100%;
  margin: auto;
}
.awesome-button {
  font-size: 2vh;
  line-height: 80px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

h1,
h3 {
  text-align: center;
}

h3 {
  color: #d8d8d8;
}
.description {
  margin-top: 80px;
  margin-bottom: 80px;
}

.text-description {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* Style the button used to pause/play the video */
