<div fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Let's record your amazing message</mat-card-title>
      <mat-card-subtitle
        >This message will be heard when the 3d object is
        displayed</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions class="actions">
      <audio #audio class="audio"></audio>
    </mat-card-actions>
    <mat-card-actions class="actions">
      <button
        mat-raised-button
        [disabled]="recording"
        color="warn"
        (click)="startRecording()"
      >
        <mat-icon md-36>mic</mat-icon
        ><ng-container *ngIf="!hasBeenRecorded; else elseTemplate">
          Start Recording
        </ng-container>
        <ng-template #elseTemplate>
          Record Again
        </ng-template>
      </button>
      <button
        mat-raised-button
        [disabled]="!recording"
        color="warn"
        (click)="stopRecording()"
      >
        <mat-icon md-36>stop</mat-icon> Stop Recording
      </button>
    </mat-card-actions>
    <mat-card-actions *ngIf="hasBeenRecorded" class="actions">
      <button mat-raised-button color="primary" (click)="saveRecord()">
        <mat-icon md-36>check</mat-icon> Use this Message
      </button>
    </mat-card-actions>
  </mat-card>
</div>
