<div>
  <button mat-fab color="primary" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
  <div>
    <h1 mat-dialog-title>
      Please scan the qrCode.
    </h1>
  </div>
  <div mat-dialog-content class="center large">
    <div>
      <div class="center">
        <qr-code [value]="data.qrCode" [size]="180"></qr-code>
      </div>
      <div>
        Or Navigate to:
      </div>
      <div>
        <a href="{{ data.url }}"
          ><h2>{{ data.url }}</h2></a
        >
      </div>
    </div>
    <div>
      <img src="{{ data.marker }}" />
    </div>
  </div>
</div>
