.card {
  margin: 16px;
}
h2,
h1 {
  text-align: center;
}
div {
  margin-bottom: 15px;
}
button {
  margin: 10px;
}
.actions {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.options {
  margin-top: 8%;
}
